<div class="mn wpb_wrapper">
  <div class="wpb_text_column wpb_content_element">
    <div class="wpb_wrapper">
      <h4 style="text-align: center">Who We Are</h4>
    </div>

    <div class="wpb_wrapper">
      <div class="wpb_single_image wpb_content_element vc_align_left">
        <figure class="wpb_wrapper vc_figure">
          <div class="vc_single_image-wrapper vc_box_border_grey">
            <img
              width="600"
              height="400"
              src="../../assets/images/kid.png"
              class="vc_single_image-img attachment-full"
              alt=""
              loading="lazy"
              srcset=""
              sizes="(max-width: 600px) 100vw, 600px"
            />
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="wpb_column vc_column_container vc_col-sm-6">
  <div class="vc_column-inner">
    <div class="wpb_wrapper">
      <div class="wpb_text_column wpb_content_element">
        <div class="wpb_wrapper">
          <p style="text-align: justify">
            Vision Mentors is a charitable organization who&nbsp;will build
            homeless children shelters in each of the countries we work in. This
            shelter will house youth for up to 6 weeks, during which time we
            will assist them in being adopted, fostered, or placed in a job,
            depending on their age. For children (under 15), they may remain in
            the shelter for up to 3 months. The shelter will also serve as a
            food pantry for those residing in it and for those in nearby
            communities. We will also rent an office space which will double as
            a community center/food pantry.
          </p>
        </div>
      </div>

      <div class="gnp_trb" id="gnp_trb">
        <a href="">
          <img
            src="//cdn.greatnonprofits.org//img/2022-top-rated-awards-badge-embed.png?id=996890322"
            alt="Vision Mentors"
            title=""
          />
        </a>
        <br />
        <span class="gnp_lb">
          <a class="gnp_lb" href="" target="_blank">
            Volunteer. Donate. Review.
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="jm vc_row wpb_row vc_row-fluid vc_custom_1479217553709">
  <div class="jm wpb_column vc_column_container vc_col-sm-4">
    <div class="jm vc_column-inner">
      <div class="jm wpb_wrapper">
        <div class="jm wpb_single_image wpb_content_element vc_align_left">
          <figure class="jm wpb_wrapper vc_figure">
            <div class="jm vc_single_image-wrapper vc_box_border_grey">
              <img
                width="600"
                height="401"
                src="../../assets/images/kid2.png"
                class="vc_single_image-img attachment-full"
                alt=""
                loading="lazy"
                sizes="(max-width: 600px) 100vw, 600px"
              />
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="jm wpb_column vc_column_container vc_col-sm-8">
    <div class="jm vc_column-inner">
      <div class="jm wpb_wrapper">
        <div class="jm wpb_text_column wpb_content_element">
          <div class="jm wpb_wrapper">
            <p style="text-align: justify">
              Food pantries will be open seven days a week and stocked by farms
              we help develop. These pantries will also have a soup kitchen
              component where locals may receive one hot meal (soup, etc) or a
              sandwich each day, depending on what is available.
            </p>
            <p style="text-align: justify">
              We will provide food for the underprivileged, and assist farmers
              as needed with tools, seeds, and other necessary items. We will
              fund agricultural programs in schools and educate farmers on how
              to use modern agricultural machinery. We will also empower local
              villagers to be self-sufficient by providing community family
              programs and by improving live stock handling. We will establish
              food pantries in each village as needed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br />
<div class="row">
  <div class="col-6">
    Vision mentors Inc. is a 501(c)(3) charitable organization whose mission is
    to alleviate poverty and hunger in the continent of Africa. We work to feed,
    empower, cloth, and provide basic amenities such as food, water,
    electricity, housing, and healthcare to the poorest of Africa.
    <h4>Important Links</h4>
    <li><a href="https:" aria-current="page">Home</a></li>

    <li>
      <a href="https:">About Us</a>
    </li>

    <li
      id="menu-item-62"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"
    >
      <a href="https:">Programs</a>
    </li>
    <li
      id="menu-item-64"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64"
    ></li>
  </div>
  <div class="col-6">
    <h4>Contact Us</h4>
    <b>Email:</b><br />
    <a href="mailto:visionmentors.ac.ke ">visionmentors.ac.ke</a><br />
    <br />
    <b>Phone:</b><br />
    <a href="tel:+254 712 345 678">+254 712 345 678</a>
    <ul class="social">
      <li class="facebook">
        <a target="_blank" href="https://www.facebook.com/" title="Facebook"
          ><i class="icon-facebook">facebook</i></a
        >
      </li>
      <li class="twitter">
        <a target="_blank" href="https://twitter.com/" title="Twitter"
          ><i class="icon-twitter">twitter</i></a
        >
      </li>
      <li class="youtube">
        <a target="_blank" href="https://www.youtube.com/" title="YouTube"
          ><i class="icon-play"></i
        ></a>
      </li>
      <li class="instagram">
        <a
          target="_blank"
          href="https://www.instagram.com/feed_africafoundation/"
          title="Instagram"
          ><i class="icon-instagram"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
