<h3 style="text-align: center">Get in Touch With Us</h3>
<div class="row">
  <div class="col-6">
    <form
      action="/contact-us/#wpcf7-f6-p23-o1"
      method="post"
      class="wpcf7-form init"
      novalidate="novalidate"
      data-status="init"
    >
      <input type="hidden" name="_wpcf7" value="6" />
      <input type="hidden" name="_wpcf7_version" value="5.5.6" />
      <input type="hidden" name="_wpcf7_locale" value="en_US" />
      <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f6-p23-o1" />
      <input type="hidden" name="_wpcf7_container_post" value="23" />
      <input type="hidden" name="_wpcf7_posted_data_hash" value="" />

      <p>
        <label>
          Your Name (required)<br />
          <span class="wpcf7-form-control-wrap your-name"
            ><input
              type="text"
              name="your-name"
              value=""
              size="40"
              aria-required="true"
              aria-invalid="false"
          /></span>
        </label>
      </p>
      <p>
        <label>
          Your Email (required)<br />
          <span class="wpcf7-form-control-wrap your-email"
            ><input
              type="email"
              name="your-email"
              value=""
              size="40"
              aria-required="true"
              aria-invalid="false"
          /></span>
        </label>
      </p>
      <p>
        <label>
          Subject<br />
          <span class="wpcf7-form-control-wrap your-subject"
            ><input
              type="text"
              name="your-subject"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text"
              aria-invalid="false"
          /></span>
        </label>
      </p>
      <p>
        <label>
          Your Message<br />
          <span class="wpcf7-form-control-wrap your-message">
            <textarea
              name="your-message"
              cols="40"
              rows="10"
              class="wpcf7-form-control wpcf7-textarea"
              aria-invalid="false"
            ></textarea>
          </span>
        </label>
      </p>
      <p>
        <input
          type="submit"
          value="Send"
          class="wpcf7-form-control has-spinner wpcf7-submit"
        /><span class="wpcf7-spinner"></span>
      </p>
    </form>
  </div>
  <!---->

  <div class="col-6">
    <h4 style="text-align: left">General&nbsp;Info</h4>

    <p style="text-align: left">Email:</p>
    <p style="text-align: left">
      <strong
        ><a href="mailto:Visionmentors.co.ke">Visionmentors.co.ke</a>
      </strong>
    </p>
    <p style="text-align: left">Phone:</p>
    <p style="text-align: left">
      <strong><a href="tel:+0712 345 678"></a> 0712 345 678</strong>
    </p>

    <a
      class="sficn"
      data-effect=""
      target="_blank"
      href="https://www.facebook.com/"
    >
      <img
        src="../../assets/images/FB.png"
        class="img-fluid rounded-start"
        alt="..."
        style="width: 40px; height: 40px; margin-left: 5px"
      />facebook

      <a
        class="sficn"
        data-effect=""
        target="_blank"
        href="https://twitter.com"
        id="sfsiid_twitter_icon"
      >
        <img
          src="../../assets/images/tweet.png"
          class="img-fluid rounded-start"
          alt="..."
          style="width: 40px; height: 40px; margin-left: 5px"
        />Twitter

        <a
          class="sficn"
          data-effect=""
          target="_blank"
          href="https://www.youtube.com/channel/"
        >
          <img
            src="../../assets/images/you.png"
            class="img-fluid rounded-start"
            alt="..."
            style="width: 40px; height: 40px; margin-left: 5px"
          />youtube

          <a
            class="sficn"
            data-effect=""
            target="_blank"
            href="https://www.Instagram.com/"
          >
            <img
              src="../../assets/images/IG.png"
              class="img-fluid rounded-start"
              alt="..."
              style="width: 40px; height: 40px; margin-left: 5px"
            />instagram
          </a></a
        ></a
      ></a
    >
  </div>
</div>
<div class="k row">
  <div class="col-6">
    Vision mentors Inc. is a 501(c)(3) charitable organization whose mission is
    to alleviate poverty and hunger in the continent of Africa. We work to feed,
    empower, cloth, and provide basic amenities such as food, water,
    electricity, housing, and healthcare to the poorest of Africa.
    <h4>Important Links</h4>
    <li><a href="https:" aria-current="page">Home</a></li>

    <li>
      <a href="https:">About Us</a>
    </li>

    <li
      id="menu-item-62"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"
    >
      <a href="https:">Programs</a>
    </li>
    <li
      id="menu-item-64"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64"
    ></li>
  </div>
  <div class="col-6">
    <h4>Contact Us</h4>
    <b>Email:</b><br />
    <a href="mailto:visionmentors.ac.ke ">visionmentors.ac.ke</a><br />
    <br />
    <b>Phone:</b><br />
    <a href="tel:+254 712 345 678">+254 712 345 678</a>
    <ul class="social">
      <li class="facebook">
        <a target="_blank" href="https://www.facebook.com/" title="Facebook"
          ><i class="icon-facebook">facebook</i></a
        >
      </li>
      <li class="twitter">
        <a target="_blank" href="https://twitter.com/" title="Twitter"
          ><i class="icon-twitter">twitter</i></a
        >
      </li>
      <li class="youtube">
        <a target="_blank" href="https://www.youtube.com/" title="YouTube"
          ><i class="icon-play"></i
        ></a>
      </li>
      <li class="instagram">
        <a target="_blank" href="https://www.instagram.com/" title="Instagram"
          ><i class="icon-instagram"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
