<div class="card">
  <div class="card-header">
    volunteer@rejoiceafrica-initiatives.org +254 712 345 728/ +254 798 765 432
  </div>
</div>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="././../assets/images/logo.PNG"
        alt=""
        width="150"
        height="60"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="contact"
            >Contact</a
          >
        </li>

        <div class="p-2 flex-shrink-1 bd-highlight">
          <a class="nav-link d-flex" href="#"
            ><a class="nav-link" href="#"
              ><select name="dropdown">
                <option value="Arabic" selected>Arabic</option>
                <option value="Chinese(simplified)" selected>
                  Chinese(simplified)
                </option>
                <option value="en" selected>English</option>
                <option value="fr" selected>French</option>
                <option value="es" selected>German</option>
                <option value="It" selected>Italian</option>
                <option value="Pt" selected>Portuguese</option>
                <option value="ru" selected>Russian</option>
                <option value="es" selected>Spanish</option>
                <option value="Sw" selected>Swahili</option>
                <option value="Select Language" selected>
                  Select Language
                </option>
              </select></a
            ></a
          >
        </div>
      </ul>
    </div>
  </div>
</nav>

<router-outlet>
  <div class="footer fixed-bottom bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          Copyright © 2022 Vision Mentors Program. All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</router-outlet>
