.j {
  background-color: gray;
}
.textwidget {
  color: aliceblue;
}
.h {
  color: yellow;
}
.body {
  background-color: aliceblue;
}
.card {
  background-color: aliceblue;
}
.pic {
  background-color: aliceblue;
}
